body { font-family: Verdana, sans-serif; color: #fff; background-color: #000; }
h1 {
    font-weight : 400;
}
a { color: #ddd; }
a:visited { color: #999; }
p.instructions {
    font-family: Ovo;
    font-size: 1.3em;
}
h1 {
    font-size   : 3em;
}
p.credits {
}
img.logo {
    float: left;
}

[draggable] {
    -webkit-user-selectable: none;
     -khtml-user-selectable: none;
       -moz-user-selectable: none;
         -o-user-selectable: none;
            user-selectable: none;
}

.container {
    margin-top: 20px;
}

/*****************
 * Canvas styles *
 *****************/

#cp-canvas { 
	margin-top: 10px;
}
.slide {
    -webkit-transition: all 0.33s ease-in, background-color 0s ease;
       -moz-transition: all 0.33s ease-in, background-color 0s ease;
         -o-transition: all 0.33s ease-in, background-color 0s ease;
            transition: all 0.33s ease-in, background-color 0s ease;
}
.cp-canvas-default {
    /* canvas styles before any draggin' or droppin' */
    border : 1px solid #000;
}
.cp-canvas-drag-over { 
    /* canvas styles while an image is being dragged over */
    background-color: #060606;

}

#cp-input-image {
    display: none;
}

/****************************************
 * Container for all the color swatches *
 ****************************************/

.cp-swatches {

    -webkit-transition : all 0.13s ease;
       -moz-transition : all 0.13s ease;
         -o-transition : all 0.13s ease;
            transition : all 0.13s ease;

}

/*********************************
 * Styles for the swatch squares *
 *********************************/

.cp-swatch {
    height   : 110px;

    /* override 960.gs width by -2 px to make room for 1px border */
    width    : 108px !important; 
    border   : 1px solid #000;

    cursor   : pointer;

    -webkit-transition : all 0.13s ease;
       -moz-transition : all 0.13s ease;
         -o-transition : all 0.13s ease;
            transition : all 0.13s ease;
}

.cp-swatch-selected::after {
    content       : '';
    display       : block;
    position      : relative;
    height        : 112px;
    width         : 110px;
    border        : 1px solid #ddd;
    border-radius : 5px;
    top           : -2px;
    left          : -2px;
    -webkit-transition : all ease 0.33s;
       -moz-transition : all ease 0.33s;
         -o-transition : all ease 0.33s;
            transition : all ease 0.33s;
}

/**********************
 * Swatch color codes *
 **********************/
.cp-swatch-color-code {
    margin-top: 10px;
    padding: 8px 0px 8px 0px;
    background-color: #000;
    color: #a8a8a8;
    border-width: 0;
}

/***********************
 * Color picker styles *
 ***********************/

#cp-picker {
    -webkit-transition : all ease 0.33s;
       -moz-transition : all ease 0.33s;
         -o-transition : all ease 0.33s;
            transition : all ease 0.33s;
}
.cp-picker-active {
    opacity: 1.0;
    visibility: visible;
    display: block;
}
.cp-picker-inactive {
    opacity: 0;
    visibility: hidden;
    display: none;
}


/******************************************************
 * Anonymous styles that are applied to many elements *
 ******************************************************/
.cp-border {

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;

    -webkit-box-shadow: 0px 0px 0px 3px #222;
       -moz-box-shadow: 0px 0px 0px 3px #222;
         -o-box-shadow: 0px 0px 0px 3px #222;
            box-shadow: 0px 0px 0px 3px #222;

}

.cp-border-selected { 
    -webkit-box-shadow: 0px 0px 0px 3px #555;
       -moz-box-shadow: 0px 0px 0px 3px #555;
         -o-box-shadow: 0px 0px 0px 3px #555;
            box-shadow: 0px 0px 0px 3px #555;
}

/****************************************
 * Toolbox, contains color picker et al *
 ****************************************/
#cp-toolbox,
#cp-output {
	margin-top: 10px;
}
#cp-output {
    padding: 0;
}
#cp-output textarea {
    margin     : 0;
    border     : 0;
    padding    : 5px;
    background : #000;
    color      : #afaeae;
    width      : 220px;
}

/*********************************************
 * Classes for turning things "on" and "off" *
 *********************************************/

.off { display: none; }
.fade { 
    -webkit-transition : all 0.33s ease;
       -moz-transition : all 0.33s ease;
         -o-transition : all 0.33s ease;
            transition : all 0.33s ease;
}
